.avatar-changer {
  align-items: center;
  display: flex;
  flex-direction: column;
  lable {
    display: block;
  }
  &__img-wrapper {
    border-radius: 30px;
    cursor: pointer;
    flex-shrink: 0;
    height: 70px;
    overflow: hidden;
    width: 70px;
    &:hover {
      opacity: 0.6;
    }
  }
  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &__input {
    display: none;
  }
}
