.chat-window {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  &__header {
    display: flex;
    flex-grow: 1;
  }
  &__settings-button {
    margin-left: auto;
  }
  &__messeges {
    flex-grow: 1;
  }
}
