.chat-window__header 
  .chat-window__profile 
    | !{profile}
  .chat-window__settings-button 
    | !{chatSettingsButton}
.chat-window__messeges
.chat-window__input
  | !{input}
| !{chatSettings}

