.chat-window__header 
  .chat-window__profile 
    | !{profile}
  .chat-window__settings-button 
    | !{chatSettingsButton}
.chat-window__messeges
  | !{messagesList}
.chat-window__input
  | !{message}

