.chat-window {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  &__header {
    align-items: center;
    display: flex;
  }
  &__settings-button {
    margin-left: auto;
    margin-right: 20px;
  }
  &__messeges {
    flex-grow: 1;
    height: 0; // Работает только в таком случае и я не понимаю почему(
  }
}
