.profile-button {
  align-items: center;
  display: flex;
  padding: 8px 16px;
  &__img-container {
    border-radius: 10px;
    flex-shrink: 0;
    height: 30px;
    overflow: hidden;
    width: 30px;
  }
  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &__name {
    @include text-regular;
    color: var(--text-basic);
    margin-left: 10px;
    text-decoration: none;
  }
}
