extends ../form/form
include ../formFooter/formFooter


mixin formReg()
    +form
        block title 
            p Регистрация
        block content 
            - var data = [{place: 'Имя', name: 'first_name'},{place:'Фамилия', name: 'second_name'},{place:'Логин', name: 'login'},{place:'Почта', name: 'email'},{place:'Телефон', name: 'phone'},{place:'Пароль', name: 'password'},{place:'Пароль (ещё раз)', name: 'repassword'}]
            +fieldsBox(data)
        block button 
            +button.button_fullWidth Зарегистрироваться
        block footer 
            +formFooter('Уже есть аккаунт?', "./auth.pug",  'Вход')


    


