.chat-list {
  background-color: var(--UI-back-light);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: static;
  width: 400px;
  &__bar {
    flex-grow: 1;
  }
  &__footer {
    display: flex;
  }
  &__profile {
    flex-grow: 1;
  }
  &__search {
    display: flex;
  }
}
