extends ../form/form
include ../formFooter/formFooter


mixin formAuth()
    +form
        block title 
            p Вход
        block content 
            - var data = [{place: 'Логин', name: 'login'}, {place:'Пароль', name: 'login'}];
            +fieldsBox(data)
        block button 
            +button.button_fullWidth Войти
        block footer 
            +formFooter('Нет аккаунта?', "./reg.pug",  'Регистрация')


    


