.pop-up {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  &_active {
    display: flex;
  }
  &_disable {
    display: none;
  }
  .content {
    background-color: var(--UI-back-light);
    border-radius: 4px;
    padding: 20px 36px;
  }
}
