.popUp {
  width: 100%;
  height: 100%;  
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .4);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  &_active{
    display: flex;
  }
  &_disable{
    display: none;
  }
}
