@font-face {
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  src: url("../static/fonts/Roboto/Roboto Black.eot");
  src: url("../static/fonts/Roboto/Roboto Black.eot?#iefix")
      format("embedded-opentype"),
    url("../static/fonts/Roboto/Roboto Black.woff2") format("woff2"),
    url("../static/fonts/Roboto/Roboto Black.woff") format("woff"),
    url("../static/fonts/Roboto/Roboto Black.ttf") format("truetype");
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  src: url("../static/fonts/Roboto/Roboto Light.eot");
  src: url("../static/fonts/Roboto/Roboto Light.eot?#iefix")
      format("embedded-opentype"),
    url("../static/fonts/Roboto/Roboto Light.woff2") format("woff2"),
    url("../static/fonts/Roboto/Roboto Light.woff") format("woff"),
    url("../static/fonts/Roboto/Roboto Light.ttf") format("truetype");
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  src: url("../static/fonts/Roboto/Roboto Medium.eot");
  src: url("../static/fonts/Roboto/Roboto Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../static/fonts/Roboto/Roboto Medium.woff2") format("woff2"),
    url("../static/fonts/Roboto/Roboto Medium.woff") format("woff"),
    url("../static/fonts/Roboto/Roboto Medium.ttf") format("truetype");
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 250;
  src: url("../static/fonts/Roboto/Roboto Thin.eot");
  src: url("../static/fonts/Roboto/Roboto Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../static/fonts/Roboto/Roboto Thin.woff2") format("woff2"),
    url("../static/fonts/Roboto/Roboto Thin.woff") format("woff"),
    url("../static/fonts/Roboto/Roboto Thin.ttf") format("truetype");
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url("../static/fonts/Roboto/Roboto Bold.eot");
  src: url("../static/fonts/Roboto/Roboto Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../static/fonts/Roboto/Roboto Bold.woff2") format("woff2"),
    url("../static/fonts/Roboto/Roboto Bold.woff") format("woff"),
    url("../static/fonts/Roboto/Roboto Bold.ttf") format("truetype");
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url("../static/fonts/Roboto/Roboto.eot");
  src: url("../static/fonts/Roboto/Roboto.eot?#iefix")
      format("embedded-opentype"),
    url("../static/fonts/Roboto/Roboto.woff2") format("woff2"),
    url("../static/fonts/Roboto/Roboto.woff") format("woff"),
    url("../static/fonts/Roboto/Roboto.ttf") format("truetype");
  unicode-range: U+0020-2044;
}
