@mixin text-medium {
  line-height: 110%;
  font: {
    family: Roboto;
    size: 14px;
    weight: 500;
  }
}
@mixin text-regular {
  line-height: 110%;
  font: {
    family: Roboto;
    size: 14px;
    weight: 400;
  }
}
@mixin text-header {
  line-height: 110%;
  font: {
    family: Roboto;
    size: 20px;
    weight: 300;
  }
}
@mixin text-header2 {
  line-height: 110%;
  font: {
    family: Roboto;
    size: 18px;
    weight: 400;
  }
}
@mixin text-big {
  line-height: 110%;
  font: {
    family: Roboto;
    size: 16px;
    weight: 400;
  }
}

@mixin icon-plus-square($color) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$color}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>');
}

@mixin icon-sliders($color) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$color}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>');
}
