:root {
  --UI-accent-basic: rgb(108, 92, 232);
  --UI-accent-light: rgba(108, 92, 232, 0.7);
  --UI-accent-dark: rgba(78, 66, 174, 0.7);
  --UI-back-input: rgb(31, 34, 40);
  --UI-back-dark: rgb(36, 40, 44);
  --UI-back-light: rgb(45, 48, 54);
  --UI-basic: rgb(203, 203, 203);
  --text-basic: rgb(203, 203, 203);
  --text-light: rgba(203, 203, 203, 0.7);
  --text-disable: rgb(255, 255, 255, 0.4);
  --UI-input-danger: rgb(171, 11, 11, 0.56);
  --UI-button-basic: rgb(87, 89, 93);
  --UI-button-hover: rgb(66, 67, 71);
}
