extends ../components/layout
include ../blocks/button/button
include ../blocks/field/field
include ../blocks/fieldsBox/fieldsBox
include ../blocks/form/form
include ../blocks/formAuth/formAuth
include ../blocks/centering/centering


block head
  - var pageTitle = '500';

block content
    +centering
        +formFooter('Ошибка 500. Мы скоро все починим', "./",  'Перейти на главную')
    