extends ../components/layout
include ../blocks/button/button
include ../blocks/field/field
include ../blocks/fieldsBox/fieldsBox
include ../blocks/form/form
include ../blocks/formAuth/formAuth
include ../blocks/formProfile/formProfile
include ../blocks/centering/centering


block head
  - var pageTitle = 'Профиль';

block content
    +centering
        +formProfile
    