.field{
    display: inline-block;
    background-color: var(--UI-back-input);
    height: 30px;
    border-radius: 2px;
    border: none;
    outline: none;
    @include text-regular;
    color: var(--text-basic);
    padding: 0 20px;
    &::placeholder{
        @include text-regular;
        color: var(--text-disable)
    }
    &_fullWidth{
        width: 100%;
    }
}