.main-form {
  &_content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 22px;
  }
  &_button {
    margin-top: 14px;
  }
  &_error {
    color: var(--UI-text-danger);
    margin-top: 10px;
    text-align: center;
  }
}
