@import "styles/mixins";
@import "styles/var";

@import "./components/Button/button";
@import "./components/MainForm/mainForm";
@import "./components/Input/input";
@import "./components/Identification/identification";
@import "./components/Helper/helper";
@import "./components/ChatItem/chatItem";
@import "./components/ChatsList/chatsList";
@import "./components/ProfileButton/profileButton";
@import "./components/ChatWindow/chatWindow";
@import "./components/PopUp/popUp";
@import "./components/ChatSettings/chatSettings";
@import "./components/MemberItom/memberItom";
@import "./components/CreateMessege/createMessege";
@import "./components/MessagesList/messagesList";
@import "./components/ProfileEditor/profileEditor";
@import "./components/ChatSettingsUsers/chatSettingsUsers";
@import "./components/Message/message";
@import "./components/Icon/icon";
@import "./templates/centering/centering";
@import "./pages/chat/chat";
@import "./components/CreateChat/createChat";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: #22262b;
}
