
mixin form()
    .form
        .form_body
            .form_title 
                block title
            .form_content
                block content
            .form_button
                    block button 
        .form_footer
                block footer    


    


