.form{
    width: 388px;
    border-radius: 4px;
    background-color: var(--UI-back-light);
    overflow: hidden;
    &_body{
        padding: 28px 50px;
    }
    &_title{
        display: flex;
        justify-content: center;
        @include text-header;
        color: var(--text-basic)
    }
    &_content{
        margin-top: 22px;
    }
    &_button{
        margin-top: 14px;
    }
    &_footer{
        display: flex;
        justify-content: center;
        padding: 12px 0;
        background-color: var(--UI-back-dark);
        
    }
}